@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Bold.woff);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: OpenSans;
  src: url(https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff);
  font-style: normal;
  font-weight: normal;
}

body {
  margin: 0px;
  font-family: OpenSans, serif;
}

.header {
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg);
  width: 100%;
  /* min-width: 1020px; */
  min-height: 450px;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  z-index: 0;
}

.upline {
  display: flex;
  align-items: center;
  margin-left: 245px;
  margin-right: 245px;
  padding-top: 25px;
  justify-content: space-between;
}

.upline:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
  z-index: -1;
}

.logo {
  width: 180px;
}

.logo-item {
  display: flex;
  list-style-type: none;
  font-size: 13px;
}

.logo-item-menu:hover {
  text-decoration: underline;
}

.logo-item-menu {
  color: #ffffff;
  text-decoration: none;
  margin-left: 36px;
  text-transform: uppercase;
}

.logo-text-item {
  max-width: 700px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 60px;
  line-height: 1.67;
  font-weight: bold;
}

.trends {
  margin-top: 63px;
  /* position: relative;
z-index: -1; */
}

.trends-head {
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
}

.trends-head::after {
  content: "";
  display: flex;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 10px auto;
  }

.trends-content {
  /* position: relative; */
  display: flex;
  gap: 5px;
  /* z-index: 1; */
}

.trends-art {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
height: 318px;
width: 25%;
background-size: cover;
padding: 15px;
z-index: 0;
/* flex-shrink: 1; */
}

.trend-description:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.6;
  background-color: #000000;
  z-index: -1;
}

.trend-art1 {
  background-image: url("../images/trend1.jpg");
}

.trend-art2 {
  background-image: url("../images/trend2.jpg");
}

.trend-art3 {
  background-image: url("../images/trend3.jpg");
}

.trend-art4 {
  background-image: url("../images/trend4.jpg");
}

.trend-description {
border: 3px solid #b59f5b;
margin: 0;
padding: 10px 35px 10px 35px;
}

.trend-tag {
  padding: 0;
   display: flex;
  list-style-type: none;
  text-transform: uppercase;
  align-items: center;
  color: #b59f5b;
  font-weight: bold;
  font-size: 14px;
}


.trand-tag-item {
  margin-right: 15px;
}

.trand-tag-item:hover {
  text-decoration: underline;
}

.trend-header {
color: #ffffff;
text-transform: uppercase;
font-size: 20px;
margin-block-start: -10px;
}

.trend-header:hover {
color: #b59f5b;
}

.content {
  font-family: OpenSans, serif;
  display: flex;
  max-width: 1170px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  justify-content: space-between;
}

.main {
  width: 778px;
  margin-right: 70px;
}

.art {
  display: flex;
  margin-bottom: 60px;
}

.art-img {
  margin-right: 30px;
  background-color: #eff6f1;
  min-width: 381px;
  max-height: 294px;
  font-family: OpenSans-Regular, serif;
  font-size: 12px;
  text-transform: none;
}

.art-tag {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 6px;
  padding: 0px;
  align-items: center;
}

.art-tag-item {
  font-weight: bold;
  font-size: 14px;
  margin-right: 20px;
  color: #b59f5b;
  text-decoration: none;
}

.art-tag-item:hover {
  text-decoration: underline;
}

.art-header {
  display: flex;
  margin-bottom: 28px;
  margin-top: 0px;
}

.art-header-ref {
  font-weight: bold;
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  text-decoration: none;
}

.art-header-ref:hover {
  color: #b59f5b;
}

.data-autor {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.art-date {
  font-size: 12px;
  color: #888888;
  margin-right: 12px;
}

.art-autor {
  font-weight: bold;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.art-text {
  font-size: 15px;
  line-height: 1.47;
  color: #0f0d0e;
  margin-top: 0px;
}

.aside {
  text-transform: uppercase;
  width: 272px;
  padding: 0px;
}

.aside-head {
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  margin-top: 0px;
  margin-bottom: 22px;
}

.aside-head::after {
  content: "";
  display: flex;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 10px 100px 0px;
}

.aside-post {
  display: flex;
  margin-bottom: 22px;
}

.aside-post-img {
  min-width: 70px;
  height: 70px;
  margin-right: 17px;
  background-color: #f4f7f6;
  font-size: 8px;
  text-transform: none;
}

.datetime-aside {
  display: block;
  font-size: 12px;
  opacity: 54%;
  text-transform: none;
}

.aside-text {
  font-weight: bold;
  display: block;
  margin-top: 3px;
  margin-bottom: -5px; /* между 3 и 4 элементом эсайда выравнивает отступ */
}

.aside-text-link {
  display: inline-block;
  font-size: 14px;
  line-height: 1.3;
  text-decoration: none;
  color: #000000;
}

.aside-text-link:hover {
  color: #b59f5b;
}

.form-search {
  display: flex;
  margin-top: 59px;
  margin-bottom: 62px;
  height: 48px;
  border: 1px solid #b59f5b;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.form-search-input {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #f4f7f6;
  height: 100%;
  border-radius: 0%;
  border: 0px;
  width: 224px;
}

.form-search-submit {
  width: 48px;
  border: 0px;
  background-image: url(https://netology-code.github.io/html-2-diploma/sources/images/search.svg);
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 33%;
  padding: 0;
}

.form-search-submit:hover {
  background-color: #323232;
}

.form-mail {
  display: block;
  margin-top: 25px;
  margin-bottom: 57px;
}

.form-mail-input {
  background-color: #f4f7f6;
  border: 0px;
  border-radius: 0%;
  height: 46px;
  width: 266px;
  padding: 0px 3px;
}

.form-mail-input:focus {
  border-bottom: 1px solid #ebe7d7;
}

.form-mail-submit {
  font-style: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 16px;
  border-radius: 0%;
  border: 0px;
  background-color: #b59f5b;
  width: 100%;
  height: 46px;
  font-weight: bold;
}

.form-mail-submit:hover {
  background-color: #323232;
}

.aside-tag {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin-top: 21px;
  margin-bottom: 52px;
  padding: 0px;
}

.aside-tag-item {
  display: flex;
  font-size: 12px;
  font-weight: bold;
  border: 3px solid #eeeeee;
  margin: 0px 5px 5px 0px;
  padding: 5px 12px;
  text-decoration: none;
  color: #0f0d0e;
}

.aside-tag-item:hover {
  border: 3px solid #b59f5b;
}

.aside-themes {
  margin-top: 0px;
  display: inline-block;
  list-style-type: none;
  padding: 0px;
}

.aside-themes-item::after {
  content: "";
  display: flex;
  width: 265px;
  height: 1px;
  background-color: #eeeeee;
  margin: 10px 0px;
}

.aside-themes-text {
  font-size: 14px;
  font-weight: bold;
  text-transform: none;
  color: #0f0d0e;
  text-decoration: none;
}

.aside-themes-text:hover {
  color: #b59f5b;
}

.aside-sup {
  font-weight: bold;
  font-size: 12px;
  color: #b59f5b;
}




.product {
  margin-top: 0px;
  max-width: 1170px;
  display: block;
  margin: 0 auto;
  /* flex-direction: column; */
  /* align-items: center;
  justify-content: center;
  justify-items: center; */
}

.product-head{
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 13px;
}

.product-head::after {
  content: "";
  display: flex;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 10px auto;
  }

 

.product-content {
display: flex;
justify-content: space-between;
width: 100%;
gap: 5px;
}

.product-item {
  width: 26%;
   display: flex;
  flex-direction: column;
  margin: 0 23px;
 }

.product-logo {
  width: 100%;
}


.product-description {
    outline: 3px solid #d3c59d;
  outline-offset: 20px;
  margin-top: -5px;
  
  flex-grow: 1;
}

.product-header {
  text-transform: uppercase;
  margin-bottom: 5px;
}

 .product-text {
    font-size: 15px;
  }

  .product-text-link {
color: #d3c59d;
text-decoration: none;
  }

.product-text-link:hover {
  text-decoration: underline;
}

.product-footer {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-end;
  align-items: end;
  justify-items: flex-end; */
  align-self: end;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.product-price-old {
  text-decoration: line-through;
   font-weight: bold;
  color: #0f0d0e;
  font-size: 14px;

}

.product-price-new {
  font-weight: bold;
  color: #0f0d0e;
  font-size: 20px;
/* align-items: end; 
align-self: end; притягивает все цены к правому краю */
}

.product-button {
background-color: #b59f5b;
border-radius: 0%;
border: 0;
width: 135px;
height: 42px;
color: #ffffff;
font-size: 14px;
font-weight: bold;
text-transform: uppercase;
}

.product-button:hover {
  background-color: #000000;
}

.footer {
  margin-top: 85px;
  display: flex;
  max-width: 1220px;
  height: 83px;
  background-color: #f4f7f6;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.footer-dribbble {
  display: block;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
  width: 22px;
  height: 22px;
}

.footer-pinteres {
  display: block;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
  width: 22px;
  height: 22px;
}

.footer-twitter {
  display: block;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
  width: 22px;
  height: 22px;
}

.footer-icon {
  margin: 0px 12px;
}

.copyright {
  display: flex;
  max-width: 1220px;
  margin: 70px auto 0px;
  justify-content: center;
}

.copyright-link {
  font-weight: bold;
  font-size: 12px;
  color: #999999;
  text-decoration: none;
}



@media (max-width: 1000px) and (min-width: 641px) {

.upline {
  margin-left: 5%;
  margin-right: 5%;
}

.logo {
  width: 150px;
}

.logo-item-menu {
  margin-left: 16px;
}

.logo-text-item {
  max-width: 700px;
  font-size: 35px;
}

.trends-art {
padding: 10px;
}

.trend-description {
padding: 5px 10px 5px 10px;
}

.trend-tag {
flex-wrap: wrap;
  font-size: 12px;
}


.trand-tag-item {
  margin-right: 8px;
}

.trend-header {
font-size: 16px;
overflow-wrap: break-word;
}

